<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.crm.mapper.event.EventMapper">

    <select id="listAll" resultMap="pw.Event">
        SELECT *
        FROM `t_event`
        ORDER BY `id` DESC
    </select>

    <select id="countByName" resultType="Integer">
        SELECT COUNT(1)
        FROM `t_event`
        WHERE `name` = #{name} AND `is_marked` = 0
    </select>

    <select id="notLogoutEvent" resultMap="pw.Event">
        SELECT *
        FROM `t_event`
        WHERE `is_logout` = 0 AND `is_marked` = 0
        ORDER BY `id` DESC
    </select>

    <update id="updateApprovalStatus">
        UPDATE `t_event`
        SET
            `approval_status` = #{status},
            `approval_id` = #{partyId},
            `approval_comment` = #{comment},
            `approval_time` = now()
        WHERE `id` = #{id}
    </update>

    <update id="updateEventToLogout">
        UPDATE `t_event`
        SET `is_logout` = 1,logout_time = SYSDATE()
        WHERE `id` = #{id}
    </update>

    <!-- 注销活动 新-->
    <update id="logoutEventById">
        UPDATE `t_event`
        SET `is_logout` = 1,logout_time = SYSDATE(),`state` = 4,logout_type = #{type}
        WHERE `id` = #{id}
    </update>

    <select id="notAdoptEvent" resultMap="pw.Event">
        SELECT *
        FROM `t_event`
        WHERE `approval_status` != 2 AND `is_marked` = 0
    </select>

    <select id="listByEventSearchDto" resultMap="pw.Event">
        SELECT
          event.`id` AS id,
          event.`name` AS name,
          event.`template_id` templateId,
          event.`is_marked` AS isMarked,
          event.`is_template_used` AS isTemplateUsed,
          event.`is_pure_template` AS is_pure_template,
          event.`type` AS type,
          event.`level` AS level,
          event.`remind_time` AS remindTime,
          event.`start_date` AS startDate,
          event.`end_date` AS endDate,
          event.`polling_time` AS pollingTime,
          event.`polling_start_date` AS pollingStartTime,
          event.`polling_end_date` AS pollingEndTime,
          event.`is_points_related` AS isPointsRelated,
          event.`is_checkitem_related` AS isCheckItemRelated,
          event.`content` AS content,
          event.`attachment` AS attachment,
          event.`dic_notice_type` AS dicNoticeType,
          event.`notice_content` AS noticeContent,
          event.`apply_time` AS applyTime,
          event.`approval_id` AS approvalId,
          event.`approval_status` AS approvalStatus,
          event.`is_logout` AS isLogout,
          event.`logout_time` AS logoutTime,
          event.`created_party_id` AS createdPartyId,
          event.`created_time` AS createdTime,
          event.`last_modified_time` AS lastModifiedTime,
          memberGroup.`name` AS memberGroupName,
          partyEmployee.`name` AS createdPartyName,
          event.`state`,
          event.`current_periods` AS currentPeriods,
          event.`total_periods` AS totalPeriods
        FROM `t_event` event
        LEFT JOIN `t_member_group` memberGroup ON event.`member_group_id` = memberGroup.`id`
        LEFT JOIN `t_party_employee` partyEmployee ON event.`created_party_id` = partyEmployee.`party_id`
        <where>
            TRUE
            <if test="eventSearchDto != null">
                <if test="eventSearchDto.partyIdList != null and eventSearchDto.partyIdList != '' ">
                    AND
                    event.`created_party_id` IN
                    <foreach collection="eventSearchDto.partyIdList" item="id" index="index" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="eventSearchDto.name != null and eventSearchDto.name != '' ">
                    AND event.`name` LIKE "%"#{eventSearchDto.name}"%"
                </if>
                <if test="eventSearchDto.type != null and eventSearchDto.type != '' and eventSearchDto.type >= 0 ">
                    AND event.`type` = #{eventSearchDto.type}
                </if>
                <if test="eventSearchDto.approvalStatus != null and eventSearchDto.approvalStatus != '' and eventSearchDto.approvalStatus >= 0 ">
                    AND event.`approval_status` = #{eventSearchDto.approvalStatus}
                </if>
                <if test="eventSearchDto.level != null and eventSearchDto.level != '' and eventSearchDto.level >= 0 ">
                    AND event.`level` = #{eventSearchDto.level}
                </if>
            </if>
            AND event.`is_marked` = 0
        </where>
        ORDER BY event.`created_time` DESC
        <if test="eventSearchDto != null and eventSearchDto.offset >= 0 and eventSearchDto.pageSize >0 ">
            LIMIT #{eventSearchDto.offset}, #{eventSearchDto.pageSize}
        </if>
    </select>

    <select id="countByEventSearchDto" resultType="int">
        SELECT COUNT(event.id)
        FROM `t_event` event
        LEFT JOIN `t_member_group` memberGroup ON event.`member_group_id` = memberGroup.`id`
        LEFT JOIN `t_party_employee` partyEmployee ON event.`created_party_id` = partyEmployee.`party_id`
        <where>
            TRUE
            <if test="eventSearchDto != null">
                <if test="eventSearchDto.partyIdList != null and eventSearchDto.partyIdList != '' ">
                    AND
                    event.`created_party_id` IN
                    <foreach collection="eventSearchDto.partyIdList" item="id" index="index" open="(" close=")" separator=",">
                        #{id}
                    </foreach>
                </if>
                <if test="eventSearchDto.name != null and eventSearchDto.name != '' ">
                    AND event.`name` LIKE "%"#{eventSearchDto.name}"%"
                </if>
                <if test="eventSearchDto.type != null and eventSearchDto.type != '' and eventSearchDto.type >= 0 ">
                    AND event.`type` = #{eventSearchDto.type}
                </if>
                <if test="eventSearchDto.approvalStatus != null and eventSearchDto.approvalStatus != '' and eventSearchDto.approvalStatus >= 0 ">
                    AND event.`approval_status` = #{eventSearchDto.approvalStatus}
                </if>
                <if test="eventSearchDto.level != null and eventSearchDto.level != '' and eventSearchDto.level >= 0 ">
                    AND event.`level` = #{eventSearchDto.level}
                </if>
            </if>
            AND event.`is_marked` = 0
        </where>
    </select>

    <update id="updateTemplateToUsed">
        UPDATE `t_event`
        SET `is_template_used` = 1
        WHERE `id` = #{id}
    </update>

    <select id="listNotLogoutAndNotAdoptEvent" resultMap="pw.Event">
        SELECT *
        FROM `t_event`
        WHERE (`approval_status` = 1 OR `approval_status` = 3) AND `is_logout` = 0 AND `is_marked` = 0
    </select>

    <select id="listAdoptEvent" resultMap="pw.Event">
        SELECT *
        FROM `t_event`
        WHERE `approval_status` = 2 AND `is_logout` = 0 AND `is_marked` = 0
    </select>

</mapper>