.h100{
	height: 100px;
	padding: 5px 0px;
}
.margin-top--30{
    margin-top: -30px !important;
}
.inline{
	display: inline;
}
.right-size{
	right: -25px !important;
}
.readmine-size{
	right: 147px !important;
}